<section class="w-[90%] my-5 mx-auto mt-24">
    <div class="flex justify-between items-center">
        <div class="product-imgs flex w-[50%]">
            <div class="side-imgs flex-col justify-between">
                @for (img of productData.images; track $index) {
                <div class="w-[40px] mb-5 rounded-lg overflow-hidden">
                    <img [src]="img" alt="">
                </div>
                }
            </div>
            <div class="main-img  ml-4 rounded-lg overflow-hidden">
                <img [src]="productData.imageCover" width="300px" alt="">
            </div>
        </div>
        <div class="prodcut-data w-[40%]">
            <h2 class="text-2xl font-bold mb-5">{{productData.title}}</h2>
            <p class="mb-3 text-gray-600">{{productData.description}}</p>
            <p class="mb-3">{{productData.category.name}}</p>
            <div class=" md:flex justify-between mb-5">
                <span>{{productData.price | currency:"EGP"}}</span>

                <div class="icons">
                    <span>{{productData.ratingsAverage}} <i class="fa-solid fa-star text-yellow-500"></i></span>
                    <button (click)="hearBtntWishlist(productData._id)">
                        <i class="fa-solid fa-heart"
                            [ngClass]="isInWishlist(productData._id) ? 'text-red-600' : 'heart'"></i>
                    </button>
                </div>
            </div>
            <button (click)="addToCart(productData._id)" class="main-btn mx-auto w-full capitalize">Add to cart</button>
        </div>
    </div>
</section>