<section class="container mx-auto mt-24">

    <section class="products my-5">
        <h2 class="text-3xl mb-4">Popular Products</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10 ">

            @for (product of productsList |paginate:{itemsPerPage: 12,currentPage: p}; track $index) {

            <div class="card w-full bg-white border border-gray-200 rounded-lg shadow-sm">
                <div>
                    <a [routerLink]="['/details',product.id]" routerLinkActive="router-link-active" class="card-img">
                        <img [src]="product.imageCover" class="w-full" alt="">
                    </a>
                    <div class="card-body p-5">
                        <a>
                            <h5 class="mb-2 text-2xl font-bold tracking-tight line-clamp-1 text-gray-900 ">
                                {{product.title}}</h5>
                        </a>

                        <p class="mb-3 font-normal text-gray-700  line-clamp-2">
                            {{product.description}}
                        </p>

                        <div class="flex justify-between">
                            <span>{{product.price | currency:"EGP"}}</span>
                            <div class="icons">
                                <span class="mr-[2px]">{{product.ratingsAverage}} <i
                                        class="fa-solid fa-star text-yellow-500"></i></span>
                                <button (click)="hearBtntWishlist(product._id)">
                                    <i class="fa-solid fa-heart"
                                        [ngClass]="isInWishlist(product._id) ? 'text-red-600' : 'heart'"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <button (click)="addToCart(product._id)"
                    class="addbtn bg-green-600 text-white w-[90%] block mx-auto py-4 mb-4 rounded-md">Add to
                    Cart</button>
            </div>


            }
        </div>
        <div class="my-10">
            <pagination-controls class="text-center" (pageChange)="onPageChange($event)"></pagination-controls>
        </div>
    </section>
</section>