<section class="mt-24">
    <div class="container w-[90%] mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-5 my-5 ">
            @for (order of ordersList;let i=$index;track $index) {
            <div
                class=" p-6 bg-gray-300 border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">

                <div>
                    <h2 class="mb-3 text-4xl font-semibold tracking-tight text-center text-gray-900 dark:text-white">
                        Order: <span class="text-4xl">
                            {{i+1}}</span>
                    </h2>
                </div>
                <div class="titles flex justify-between">
                    <p class="text-2xl mb-3">Items</p>
                    <p class="text-2xl mb-3">Price</p>
                </div>
                @for (item of order.cartItems; track $index) {
                <div class="flex justify-between items-center">
                    <p class="mb-3 text-lg">
                        {{item.product.title}}
                    </p>
                    <p class="">{{item.price |currency:'EGP' }}</p>
                </div>
                }
                <div class="sep bg-gray-600 h-px my-4"></div>

                <div class="paymentMethod flex justify-between text-xl mb-2">
                    <p>Payment Method:</p>
                    <p class="capitalize">{{order.paymentMethodType}}</p>
                </div>



                <p class="flex justify-between text-xl mb-2">
                    Status:
                    @if (order.isDelivered) {
                    <span class="text-green-600"> Delivered</span>
                    }
                    @else {
                    <span class="text-red-600"> Not Delivered</span>
                    }
                </p>

                <div class="mb-2 text-xl flex justify-between">
                    <p>
                        Order Price:
                    </p>
                    <span class="">
                        {{order.totalOrderPrice |currency:"EGP "}}
                    </span>
                </div>
            </div>
            }
        </div>
    </div>
</section>