<footer class="bg-gray-200 py-10">
    <div class="w-11/12 mx-auto">
        <h2 class="mb-2 text-2xl">Get The FreshCart App</h2>
        <p class="text-gray-500 text-sm">We Will Send You a Link, Open it on Your Phone to download the app.</p>

        <div class="w-[97%] mx-auto">
            <div class="flex items-center gap-3 text-nowrap my-3">
                <input type="text"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500 placeholder-gray-400"
                    placeholder="Email">
                <button class="main-btn ">Share App Link</button>
            </div>

            <div class="sep bg-gray-300 h-px my-4"></div>
            <div class="pay-details md:flex justify-between items-center my-5">
                <div class="flex text-lg items-center gap-2">
                    <h3 class=" m-0">Payment Partners</h3>
                    <img src="/images/amazon-pay.png" width="50px" alt="">
                    <img src="/images/American-Express-Color.png" width="50px" alt="">
                    <img src="/images/paypal.png" width="50px" alt="">
                    <img src="/images/mastercard.webp" width="50px" alt="">
                </div>
                <div class="flex text-lg items-center gap-2">
                    <h3 class=" m-0">Get Deliveries with FreshCart</h3>
                    <img src="/images/get-google-play.png" width="100px" alt="google-store">
                    <img src="/images/get-apple-store.png" width="100px" alt="apple-store">

                </div>

            </div>

            <div class="sep bg-gray-300 h-px my-4"></div>

        </div>
    </div>
</footer>