<section class="mt-24 my-5">
    <h1 class="my-4 text-4xl capitalize text-center text-green-600">checkout details</h1>

    <form class="w-[80%] mx-auto" [formGroup]=" checkoutForm" (ngSubmit)="submitForm()">
        <div class=" mb-2">
            <label for="details" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">details</label>
            <textarea formControlName="details" id="details"
                class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg w-full  focus:ring-green-500 focus:border-green-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"></textarea>
        </div>

        <div class=" mb-2">
            <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">phone
            </label>
            <input formControlName="phone" type="tel" id="phone"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
        </div>

        <div class=" mb-2">

            <div class="mb-2">
                <label for="city" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">city
                </label>
                <input formControlName="city" type="text" id="city"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
            </div>
        </div>

        <button class="main-btn" type="submit">online payment</button>
    </form>
</section>