<section class="mt-24 my-5">
    <div class="container w-[90%] mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4  gap-10 ">

            @for (brand of brandList; track $index) {

            <div class="card overflow-hidden  max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm ">
                <div class="card-img">
                    <img class="rounded-t-lg w-full object-cover h-[200px]" [src]="brand.image" alt="" />
                </div>
                <div class="p-5">

                    <h5 class="text-center mb-2 text-3xl font-bold tracking-tight ">
                        {{brand.name}}</h5>



                </div>
            </div>
            }

        </div>
    </div>


</section>