<section class="w-[80%] mx-auto">
    <h2 class="text-3xl text-center my-5">forget password</h2>
    @if (step==1) {
    <form [formGroup]="forgetForm" (ngSubmit)="forget()">
        <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Email</label>
            <input formControlName="email" type="email" id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
        </div>

        <button class="main-btn">Next</button>
    </form>
    }

    @if (step==2) {
    <form [formGroup]="confirmCodeForm" (ngSubmit)="confirmCode()">
        <div class="mb-6">
            <label for="code" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Code</label>
            <input formControlName="resetCode" type="text" id="code"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
        </div>

        <button class="main-btn">Next</button>
    </form>
    }

    @if (step==3) {
    <form [formGroup]="resetPasswordForm" (ngSubmit)="reset()">
        <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                Email</label>
            <input readonly formControlName="email" type="email" id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
        </div>

        <div class="mb-6">
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                New password</label>
            <input formControlName="newPassword" type="password" id="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500">
        </div>

        <button class="main-btn">Next</button>
    </form>
    }

</section>